{% extends 'layout/base.html' %}

    {% block title %}
        Великий институт академии Step
    {% endblock title %}

    {% block main %}

        {% block navbar %}

        {% endblock navbar %}



            {% block content %}

                {% include 'search.html' %}
                {% include 'carousel.html' %}
                {% include 'team.html' %}
                {% include 'testimonials.html' %}

            {% endblock content %}


        {% block footer %}

        {% endblock footer %}

    {% endblock main %}








        
            



